<div class="edit-container">
  <h2>{{ bookId === 0 ? 'הוספת ספר חדש' : 'עריכת ספר' }}</h2>

  <form [formGroup]="bookForm" (ngSubmit)="save()">
    <div class="field">
      <label>שם הספר:</label>
      <input formControlName="Title" type="text">
    </div>

    <div class="field">
      <label>סופר:</label>
      <input formControlName="Author" type="text">
    </div>

    <div class="field">
      <label>תיאור:</label>
      <textarea formControlName="Description"></textarea>
    </div>


    <div class="buttons">
      <button type="submit" [disabled]="bookForm.invalid">שמור ✅</button>
      <button type="button" (click)="router.navigate(['/show'])">ביטול ❌</button>
    </div>
  </form>

</div>
